// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;

$primaryblue: #194c84;
$primarypurple: #d44ae0;
$primarygreen: #29db24;
$lightpurple: #d665e0;

$dark-blue: #0c0c3e;
$bright-pink: #e556d8;
$darker-pink: #a03c97;
$light-gray: #f4f4f4;
$medium-gray: #a9a9a9;
