h1 {
  text-align: center;
}

.main-container {
  display: flex;
}

#map {
  height: 100vh;
}

.cards {
  flex-grow: 1;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-top: 16px;
}

.cards-container {
  width: 100%;
  padding: 16px;
}

.main-container-first {
  width: 63%;
  text-align: center;
  margin-top: 16px;
}


.main-container-second {
  margin-top: 24px;
  margin-right: 16px;
  width: 36%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover {
  text-decoration: none;
  }
}

.card-text:hover {
  text-decoration: none;
}
