<footer>
  <div class="footer-socials">
    <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
    <a href="#"><i class="fab fa-youtube fa-lg"></i></i></a>
  </div>
  <div class="footer-copyright">
    <span>  &copy;2021 Grad Interview Prep</span>
  </div>
</footer>
