<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.wixstatic.com/media/dc8702379d2144d6bd16b91480d1dbdc.jpg/v1/fill/w_1920,h_672,al_c,q_85,usm_0.66_1.00_0.01/dc8702379d2144d6bd16b91480d1dbdc.webp);">
  <div class="container">
    <h1>Grad Interview Prep</h1>
    <p>Access 300+ practice questions of interview maths, numerical reasoning, diagrammatical reasoning, market sizing, basic arithmetic, brain teasers and consulting case studies...</p>
    <a class="btn btn-flat" href="#">Get started</a>
  </div>
</div>
<div class="home-page-trusted">
  Trusted by 1500+ students in 2020
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container mt-3">
        <h4>Amy, Stanford University</h4>
        <h5>October 2020</h5>
        <p>
          <img src="https://img.icons8.com/fluent/48/000000/quote-left.png"/>
          <br>
          I was applying to consulting and investment banking jobs and had failed on a market sizing question.
          <br>
          I found Grad Interview Prep to have the most comprehensive tutorial on market sizing and the 40 practice questions is well worth the money.
          <br>
          I've now had offers from  Goldman Sachs, J.P Morgan and A.T. Kearney
          <br>
          <img src="https://img.icons8.com/fluent/48/000000/quote-right.png"/>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container mt-3">
       <h4>Ciara, Edinburgh University</h4>
       <h5>October 2020</h5>
       <p>
         <img src="https://img.icons8.com/fluent/48/000000/quote-left.png"/>
         <br>
         Jonny transformed my CV into something I now feel confident in. The format makes it very easy to read and the information I provide now highlights actions and results rather than describing a list.
         <br>
         I also really valued the 15 minute handover call where Jonny explained the changes he made and taught me how to concisely write about an experience on a CV.
         <br>
         <img src="https://img.icons8.com/fluent/48/000000/quote-right.png"/>
       </p>
     </div>
    </div>
    <div class="carousel-item">
      <div class="container mt-3">
        <h4>James, University of Oxford</h4>
        <h5>September 2020</h5>
        <p>
          <img src="https://img.icons8.com/fluent/48/000000/quote-left.png"/>
          <br>
          With upcoming interviews at Bain, BCG and Oliver Wyman I purchased the Consulting Multipack.
          <br>
          It included all the practice questions, frameworks and answers I needed to get ready.
          <br>
          Ultimately I got 2 offers and so I highly recommend the Grad Interview Prep materials - they are by far the best value for money on the internet.
          <br>
          <img src="https://img.icons8.com/fluent/48/000000/quote-right.png"/>
        </p>
      </div>
    </div>
  </div>
</div>
