.navbar-lewagon {
  justify-content: space-between;
  background: $dark-blue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar li {
  font-size: 14px;
  margin: 0 32px;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  &:hover {
    color: $medium-gray;
  }
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: $medium-gray;
}
